doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    - const divStyle = { "width": "300px", "margin": "0 auto", "font-family": "Tahoma, Geneva, sans-serif" }
    - const h1Style = { "text-align": "center", "color": "#4d4d4d", "font-size": "24px", "padding": "20px 0 20px 0" }
    - const InputStyle = { "width": "100%", "padding": "15px", "border": "1px solid #dddddd", "margin-bottom": "15px", "box-sizing": "border-box"}
    - const submitStyle = { "width": "100%", "padding": "15px"," background-color": "#535b63", "border": "0", "margin-bottom": "2px", "box-sizing": "border-box", "cursor": "pointer", "font-weight": "bold", "color": "#ffffff" } 
    - const submitVoltarStyle = { "width": "100%", "padding": "15px"," background-color": "#f08080", "border": "0", "margin-bottom": "2px", "box-sizing": "border-box", "cursor": "pointer", "font-weight": "bold", "color": "#ffffff" } 
    div(style=divStyle)
      h1(style=h1Style)= "Preencha os Campos Abaixo"
      form(action="/usuarios", method="post")
        input(type="text", name="cpf" autocomplete="off" placeholder="CPF" required style=InputStyle)
        input(type="text", name="nome" autocomplete="off" placeholder="nome" required style=InputStyle)
        input(type="text", name="telefone" autocomplete="off" placeholder="telefone" required style=InputStyle)
        input(type="text", name="dt_nascimento" autocomplete="off" placeholder="data nascimento (YYY-MM-DD)" required style=InputStyle)
        input(type="text", name="cep" autocomplete="off" placeholder="CEP" required style=InputStyle)
        input(type="text", name="num_casa" autocomplete="off" placeholder="número da casa" required style=InputStyle)
        input(type="submit", value="Cadastrar" style=submitStyle)
      form(action="../")
        input(type="submit" value="Voltar" style=submitVoltarStyle )