doctype html
html
  head
   body(style="background-image:url('https://img.elo7.com.br/product/original/206462E/papel-de-parede-casual-azul-clarinho-papel-de-parede-areas-externas.jpg');")

    style
      include navbar.css

    nav.navbar.navbar-expand-lg.navbar-light.bg-light 
      
      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/home') Home
          li.nav-item
            a.nav-link(href='/usuarios/perfil') Perfil
          li.nav-item
            a.nav-link(href='/parking') Produtos
          li.nav-item
            a.nav-link(href='/places') Sobre nós
          li.nav-item
            a.nav-link(href='/login') Settings
          li(style='float:right').nav-item
            a.nav-link(href='/') Logout    
    
    mixin img-bg(src, alt)
      img.img-bg(
        src=src,
        style=`background-image: url('${src}')`,
        alt=alt
      )&attributes(attributes)
 
    figure
      +img-bg(
        "https://www.w3schools.com/w3css/img_fjords.jpg", 
        "image"
      )(class="additional-class")
   
    table(style='width:100%', border='1')
      tr
          th CPF
          th Nome
          th E-mail
          th Senha
          th Telefone
          th Data de nascimento
          th CEP
          th Casa
      each cli in clientes      
        tr    
          td= cli.cpf
          td= cli.nome
          td= cli.email
          td= cli.senha
          td= cli.telefone
          td= cli.dt_nascimento
          td= cli.cep
          td= cli.numero_casa
          
